**/lib
**/bin/rawData
bin/**
!bin/input.txt
!bin/myBWFplot.py
!bin/myCONNplot.py
!bin/myCURVplot.py
!bin/myENERGYplot.py
!bin/myUNKplot.py
!bin/myWNFplot.py

**/vTune
*.o
*.wout
*.aux
*.log
*.tex
*.tex.bak
*.toc
*.win
*.mmn
*.amn
*.dat
*.nb
*.mod
*.sh
**/intelAdvi
**/CMakeFiles
*CMakeCache.txt
**thirdparty/Makefile
**thirdparty/cmake_install.cmake
*Makefile
*.cmake
./intelAdvi
