**/lib
**/bin/rawData
bin/**
!bin/input.txt
!bin/myBWFplot.py
!bin/myCONNplot.py
!bin/myCURVplot.py
!bin/myENERGYplot.py
!bin/myUNKplot.py
!bin/myWNFplot.py
!bin/magnStream.sh
!bin/subStream.sh
!bin/convFlow.sh
!bin/statFlow.sh
!bin/masterFlow.sh

**/vTune
*.o
*.wout
*.aux
*.log
*.tex
*.tex.bak
*.toc
*.win
*.mmn
*.amn
*.dat
*.nb
*.mod
*.tar.gz
*.sh
**/zzz_todo_zzz.txt
**/CMakeFiles

*CMakeCache.txt
**thirdparty/Makefile
**/wannier90
**/w90files
**/quadpack
**/config_fortran
thirdparty/cmake_install.cmake
*Makefile
*.cmake
**/intelAdvi
